/* ======================= */
/* === Main Layout CSS === */
/* ======================= */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.GridContainerMainBodyComAsdXcCgBxuLhJLEvUpBVPs091822{
    
    background-color: red;/*//TODO: TO BE DELETED*/
    row-gap: 20px;/*//TODO: TO BE DELETED*/
    column-gap: 20px;/*//TODO: TO BE DELETED*/   
}
.GridContainerMainItemsComVdcGZmsVJrSWuOpGiJIBon091822{
    background-color: aqua; /*//TODO: TO BE DELETED*/
}

/* ============================= */
/* == Mobile (600px and down) == */
/* ============================= */

/* Grid item arrangement */
.GridContainerMainBodyComAsdXcCgBxuLhJLEvUpBVPs091822{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}
.HeaderComDacDGZkBnVJOEnjalbKjqa091822{
    grid-column: 1 / span 3;
}
.AppListComoevdcqPpUoyZqVGsFPJbCh091822{
    grid-column: 1 / span 3;
}
.HeaderAdsTopComYPBOhpTlAHiScVZjFsfMMF091822{
    grid-column: 1 / span 3;
}
.AppMenuLeftSideComCqkdWHaXgcUSJPVYtBmPZh091822{
    position: absolute; /*Relative to  */
    display: none; /*Hide App Menu bar*/
}
.MainBodyComBOcCsmJdnAokuTftLgmzbN091822{
    grid-column: 1 / span 2;
}
.FooterAdsBottomComOfWmOboYEHZffyzkaexmdT091822{
    grid-column: 1 / span 3;
}
.FooterCombaRWpeyPwBbGJUFDbxqMTd091822{
    grid-column: 1 / span 3;
}

/* ==================== */
/* ----- Variable ----- */
/* ==================== */
:root{
    --width-HeaderIconComhbmwElbqxPVIgYIPcFaIgT091822: 2rem;
    --height-HeaderIconComTyzAMHhjNbTtAQQIsCPykH091822: 2rem;
}

/* ==================== */
/* --- Header items --- */
/* ==================== */

/* Header Item arrangement */
.HeaderItemsComSsELTqanOKGFEgjTmcMslw091822{
    display: grid;
    grid-template-columns: min-content min-content 1fr min-content min-content ;
    column-gap: 10px;
    background-color: #303134;
    color: white;
    align-items: center;
    padding: 6px 10px 6px 5px;
}

.MenuCompNjBwEQejCaIDiHgxjsmaq091822{
    grid-column: 1 / span 1;
    width: var(--width-HeaderIconComhbmwElbqxPVIgYIPcFaIgT091822);
    height: var(--height-HeaderIconComTyzAMHhjNbTtAQQIsCPykH091822);
    padding: 0.3rem;
}
.ActiveAppLogoComcilnMbxCvxlfgdBCwSiADc091822{
    grid-column: 2 / span 1;
    width: var(--width-HeaderIconComhbmwElbqxPVIgYIPcFaIgT091822);
    height: var(--height-HeaderIconComTyzAMHhjNbTtAQQIsCPykH091822);
}
.HeaderCompanyLogoComqaQMvgdurHKosNtHpoAMoH091822{
    grid-column: 3 / span 1;
    height: var(--height-HeaderIconComTyzAMHhjNbTtAQQIsCPykH091822);
    place-self: center;
}
.AppLauncherCombmeubqDoEPgeRvPKmkqnlg091822{
    grid-column: 4 / span 1;
    justify-self: center;
    width: var(--width-HeaderIconComhbmwElbqxPVIgYIPcFaIgT091822);
    height: var(--height-HeaderIconComTyzAMHhjNbTtAQQIsCPykH091822);
    padding-right: 5px;
}
.UserIconComXiymepoyMqXRvSXeSLqYZH091822{
    grid-column: 5 / span 1;
    width: var(--width-HeaderIconComhbmwElbqxPVIgYIPcFaIgT091822);
    height: var(--height-HeaderIconComTyzAMHhjNbTtAQQIsCPykH091822);
    justify-self: right;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


